{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "norwoodj/tap"
tap "homebrew/cask-drivers"
tap "helm/tap"
tap "mszostok/tap"
tap "leoafarias/fvm"
tap "grishka/grishka"
tap "saulpw/vd"
brew "coreutils"
brew "antibody"
brew "chezmoi"
brew "fzf"
brew "gh"
brew "git"
brew "git-filter-repo"
brew "gnupg"
brew "go"
brew "watch"
brew "helm"
brew "keychain"
brew "kustomize"
brew "node"
brew "nvm"
brew "pnpm"
brew "pinentry-mac"
brew "podman"
brew "pyenv"
brew "python@3.12"
brew "starship"
brew "exa"
brew "bat"
brew "cosign"
brew "kubectl"
brew "pre-commit"
brew "helm-docs"
brew "yarn"
brew "cairo"
brew "pango"
brew "argocd"
brew "chart-testing"
brew "yamllint"
brew "dive"
brew "oras"
brew "kind"
brew "ansible"
brew "operator-sdk"
brew "chart-releaser"
brew "codeowners-validator"
brew "yq"
brew "jq"
brew "fvm"
brew "imagemagick"
brew "git-crypt"
brew "fx"
brew "pipenv"
brew "cmake"
brew "visidata"
brew "minio-mc"
brew "fnt"
brew "krew"
brew "uv"
brew "ffmpeg"
brew "wireguard-tools"
cask "vlc"
cask "transmit"
cask "apple-juice"
cask "battery"
cask "discord"
cask "flameshot"
cask "font-fira-code-nerd-font"
cask "hiddenbar"
cask "iterm2"
cask "kap"
cask "middleclick", args: { no_quarantine: true }
cask "maccy"
cask "onyx"
cask "openshift-client", args: { no_quarantine: true }
cask "rectangle"
cask "spotify"
cask "swift-quit"
cask "visual-studio-code"
cask "alt-tab"
cask "rocket"
cask "spaceid", args: { no_quarantine: true }
cask "input-source-pro"
cask "eqmac"
cask "balenaetcher"
cask "shortcat"
cask "google-cloud-sdk"
cask "logi-options-plus"
cask "raycast"
cask "neardrop", args: { no_quarantine: true }
cask "basictex"
cask "monitorcontrol"
cask "signal"
cask "messenger"
cask "notunes"
cask "zen-browser"
cask "whatsapp"
EOF

brew reinstall openshift-client --no-quarantine
{{ end -}}
