{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "norwoodj/tap"
tap "helm/tap"
tap "mszostok/tap"
tap "leoafarias/fvm"
tap "grishka/grishka"
tap "saulpw/vd"

brew "coreutils"
brew "antidote"
brew "chezmoi"
brew "fzf"
brew "gh"
brew "git"
brew "git-filter-repo"
brew "gnupg"
brew "go"
brew "watch"
brew "helm"
brew "keychain"
brew "kustomize"
brew "node"
brew "nvm"
brew "pnpm"
brew "pinentry-mac"
brew "pyenv"
brew "python@3.12"
brew "starship"
brew "eza"
brew "bat"
brew "cosign"
brew "kubectl"
brew "pre-commit"
brew "helm-docs"
brew "yarn"
brew "cairo"
brew "pango"
brew "argocd"
brew "chart-testing"
brew "yamllint"
brew "dive"
brew "oras"
brew "kind"
brew "ansible"
brew "operator-sdk"
brew "chart-releaser"
brew "codeowners-validator"
brew "yq"
brew "jq"
brew "fvm"
brew "imagemagick"
brew "git-crypt"
brew "fx"
brew "pipenv"
brew "cmake"
brew "visidata"
brew "minio-mc"
brew "fnt"
brew "krew"
brew "uv"
brew "ffmpeg"
brew "wireguard-tools"
brew "scrcpy"
brew "exiftool"
brew "ollama"
brew "tmux"

cask "vlc"
cask "discord"
cask "flameshot"
cask "font-fira-code-nerd-font"
cask "hiddenbar"
cask "iterm2"
cask "kap"
cask "middleclick", args: { no_quarantine: true }
cask "maccy"
cask "onyx"
cask "rectangle"
cask "spotify"
cask "visual-studio-code"
cask "alt-tab"
cask "input-source-pro"
cask "eqmac"
cask "balenaetcher"
cask "shortcat"
cask "gcloud-cli"
cask "logi-options+"
cask "raycast"
cask "neardrop", args: { no_quarantine: true }
cask "basictex"
cask "monitorcontrol"
cask "signal"
cask "messenger"
cask "notunes"
cask "zen"
cask "whatsapp"
cask "android-platform-tools"
cask "elgato-stream-deck"
cask "tailscale-app"
cask "iina"
cask "insta360-studio"
cask "blisk"
cask "podman-desktop"
{{ if not .isManaged -}}
cask "google-chrome"
cask "slack"
cask "autodesk-fusion"
cask "canva"
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
cask "steam"
{{ end -}}
EOF

# brew reinstall openshift-client --no-quarantine
# brew reinstall flameshot --no-quarantine
# brew reinstall hiddenbar --no-quarantine
{{ end -}}
