{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
brew "antibody"
brew "chezmoi"
brew "fzf"
brew "gh"
brew "git"
brew "gnupg"
brew "go"
brew "helm"
brew "keychain"
brew "kustomize"
brew "node"
brew "nvm"
brew "pinentry-mac"
brew "podman"
brew "pyenv"
brew "python@3.11"
brew "starship"
cask "apple-juice"
cask "battery"
cask "clipy"
cask "discord"
cask "fig"
cask "flameshot"
cask "font-fira-code-nerd-font"
cask "hiddenbar"
cask "iterm2"
cask "kap"
cask "middleclick"
cask "onyx"
cask "openshift-client"
cask "podman-desktop"
cask "rectangle"
cask "spaceman"
cask "spotify"
cask "swift-quit"
cask "visual-studio-code"
EOF
{{ end -}}
