Host *
    IdentitiesOnly yes
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain yes
{{- end }}
    AddKeysToAgent yes

Host turris
    User root
    HostName 192.168.0.1
    IdentityFile ~/.ssh/turris_ed25519
    PreferredAuthentications publickey

Host router cap1 cap2
    User admin
    HostName %h.lan
    IdentityFile ~/.ssh/mikrotik_rsa
    PreferredAuthentications publickey

Host neem
    User tumi
    Hostname neem.lan
    IdentityFile ~/.ssh/turris_ed25519
    PreferredAuthentications publickey

Host code.engineering.redhat.com
    User tcoufal
    IdentityFile ~/.ssh/gerrit_rsa
    PreferredAuthentications publickey

Host moth
    User pi
    Hostname %h.local
    IdentityFile ~/.ssh/raspberry-pi_ed25519
    PreferredAuthentications publickey

Host gist.github.com github.com
    IdentityFile ~/.ssh/github_rsa
    PreferredAuthentications publickey

Host gitlab.sat.engineering.redhat.com gitlab.cee.redhat.com
    IdentityFile ~/.ssh/gerrit_rsa
    PreferredAuthentications publickey

Host gitlab.com
    Hostname gitlab.com
    IdentityFile ~/.ssh/gitlab_ed25519
    PreferredAuthentications publickey

Host zas
    User tomc
    Hostname www.zas.cz
    PreferredAuthentications publickey
