{{- if eq .chezmoi.os "darwin" }}
pinentry-program {{ output "brew" "--prefix" | trim -}}/bin/pinentry-mac
{{- end }}
{{- if eq .chezmoi.os "linux" }}
{{- if ne .chezmoi.hostname "neem" }}
pinentry-program /usr/bin/pinentry-kwallet
{{- end }}
{{- end }}
